.contenedor-details{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
}

.contenedor-details>div{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #afcdff;
    border-radius: 20px;
    margin: 1rem;
    
}

.contenedor>div:hover{
    background-color: #3382f88c;
}

.imgs-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 340px;
    border-radius: 20px 20px 0px 0px;
    
  }
  
  .imgs-card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
.informacion-details{
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:15px;
}
.informacion-details>p:first-child{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 300;
}
.informacion-details .precio-details {
    font-size: 20px;
    font-weight: 500;
}
.informacion-details .precio-details span{
    font-size: 17px;
    font-weight: 300;
}

.informacion-details button{
    background-color: #1f1f1f;
    width: 100px;
    color: #ffff;
    height: 35px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    justify-content: center;
}