nav li {
    display: inline;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

.navbar {
    background-color: #1f1f1f;
    color: #ffff;
    padding: 30px;
}

.title-nav {
    font-size: x-large;
}



.icon-nav:hover {
    color: #530000;
}