.navbar {
    display: flex;
    justify-content:space-around;
    background-color:  #1f1f1f;  
    color: #ffff;
    padding: 30px;
}

button {
    color: #ffff;
    background-color: #1f1f1f;
    size: 10vw;
}