@import './navBar';
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import './ItemsListContainer';
@import './itemsDetailsContainer';

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}