@import url("https://fonts.googleapis.com/css2?family=Montserrat");
nav li {
  display: inline;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

.navbar {
  background-color: #1f1f1f;
  color: white;
  padding: 30px;
}

.title-nav {
  font-size: x-large;
}

.icon-nav:hover {
  color: #530000;
}

.buttons {
  background-color: #1f1f1f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 15px;
}

.buttons:hover {
  background-color: #1b1b1b;
  color: white;
}

.buttons {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 20px;
}

.contenedor > div {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: #afcdff;
  border-radius: 20px;
  margin: 1rem;
}

.contenedor > div:hover {
  background-color: rgba(51, 130, 248, 0.5490196078);
}

.imgs-card-details {
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.informacion {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.informacion > p:first-child {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 300;
}

.informacion .precio {
  font-size: 20px;
  font-weight: 500;
}

.informacion .precio span {
  font-size: 17px;
  font-weight: 300;
}

.informacion button {
  background-color: #1f1f1f;
  width: 100px;
  color: white;
  height: 35px;
  border-radius: 10px;
  border: none;
  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.informacion Link {
  background-color: #1f1f1f;
  width: 100px;
  color: white;
  height: 35px;
  border-radius: 10px;
  border: none;
  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.title-home {
  display: flex;
  justify-content: center;
}

.contenedor-details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 20px;
}

.contenedor-details > div {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: #afcdff;
  border-radius: 20px;
  margin: 1rem;
}

.contenedor > div:hover {
  background-color: rgba(51, 130, 248, 0.5490196078);
}

.imgs-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 340px;
  border-radius: 20px 20px 0px 0px;
}

.imgs-card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.informacion-details {
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.informacion-details > p:first-child {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 300;
}

.informacion-details .precio-details {
  font-size: 20px;
  font-weight: 500;
}

.informacion-details .precio-details span {
  font-size: 17px;
  font-weight: 300;
}

.informacion-details button {
  background-color: #1f1f1f;
  width: 100px;
  color: white;
  height: 35px;
  border-radius: 10px;
  border: none;
  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 8%;
  position: absolute;
  right: 3%;
  width: 250px;
}

.cart-product {
  background-color: #000000;
  padding: 16px;
  border-radius: 4px;
  width: 100%;
}

.info-cart-product {
  display: flex;
  align-items: center;
}

.cantidad-producto-carrito {
  font-size: 24px;
  font-weight: bold;
  margin-right: 16px;
}

.titulo-producto-carrito {
  font-size: 18px;
  font-weight: bold;
  margin-right: 16px;
}

.precio-producto-carrito {
  font-size: 18px;
  font-weight: bold;
}

.cart-container button {
  background-color: #1f1f1f;
  width: 250px;
  color: white;
  height: 35px;
  border-radius: 10px;
  border: none;
  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
  justify-content: center;
  display: block;
}

.container-checkout {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10vw;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  margin: 2px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type=text],
input[type=email] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type=submit] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #3e8e41;
}

.mensaje-valido {
  color: green;
  font-weight: bold;
}

.mensaje-invalido {
  color: red;
  font-weight: bold;
}

.detail-container {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.detail-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.detail-item span {
  margin-right: 10px;
  font-weight: bold;
}

.button-end {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-end:hover {
  background-color: #3e8e41;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
